html {
    background-color: black;
    font-family: "MS Mincho";
    font-weight: 200;
    color: white;
}

input {
    font-family: "MS Mincho";
    font-weight: 200;
    font-size: 4vw;
    text-align: center;
    height: 4.5vw;
    border: none;
    outline: none;
    padding: 0 10px;
}

input[type="button"] {
    display: inline-block;
    background-color: #000074ff;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

input[type="button"]:hover {
    opacity: 0.8;
}

.XXkm {
    position: absolute;
    top: 5vw;
    right: 15vw;
    font-size: 3vw;
}

.floor {
    position: absolute;
    left: 0;
    right: 0;
    margin: 10vw auto 0;
    height: 80vw;
    display: block;
}

.intro {
    opacity:0;
}

.intro span {
    opacity: 0;
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}

.light {
    position: absolute;
    left: 0;
    right: 0;
    margin: 10vw auto 0;

    width: 80vw;
    height: 80vw;
    background-color: rgba(0,0,0,0);
    box-shadow: 0px 0px 15vw 8vw rgba(0,0,0,1) inset;

    color: white;
}

.light-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4vw;
    line-height: 5vw;
}

.fadein {
    animation: fadein-keyframes 3s ease 0s 1 forwards;
}

.fadeout {
    animation: fadeout-keyframes 3s ease 0s 1 forwards;
}

@keyframes fadeout-keyframes {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadein-keyframes {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}